<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>The Band</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://www.w3schools.com/lib/w3.js"></script>
<body>

<h1>Landing PAge</h1>
<!-- Navigation (Stays on Top) -->
<div class="w3-top w3-bar w3-black">
<a href="#home" class="w3-bar-item w3-button">Home</a>
<a href="{%  url 'login' %}" class="w3-bar-item w3-button">Log In</a>
<a href="#about" class="w3-bar-item w3-button">Search</a>
<a href="#members" class="w3-bar-item w3-button">About</a>
<a href="#contact" class="w3-bar-item w3-button">Contact</a>
</div>


<!-- Start Content -->
<div id="home" class="w3-content">
<p>audhjfaoie</p>
<!-- Image -->
<img src="img_la.jpg" alt="The Band" style="width:100%">

<!-- End Content -->
<p>kjdhgfaldf</p>
<p>kjdhgfaldf</p>
    <p>kjdhgfaldf</p>
<p>kjdhgfaldf</p>
    <p>kjdhgfaldf</p>
<p>kjdhgfaldf</p>
    <p>kjdhgfaldf</p>
<p>kjdhgfaldf</p>
    <p>kjdhgfaldf</p>
<p>kjdhgfaldf</p>
    <p>kjdhgfaldf</p>
<p>kjdhgfaldf</p><p>kjdhgfaldf</p>
<p>kjdhgfaldf</p><p>kjdhgfaldf</p>
<p>kjdhgfaldf</p><p>kjdhgfaldf</p>
<p>kjdhgfaldf</p><p>kjdhgfaldf</p>
<p>kjdhgfaldf</p><p>kjdhgfaldf</p>
<p>kjdhgfaldf</p>
    <p>kjdhgfaldf</p>
<p>kjdhgfaldf</p>
    <p>kjdhgfaldf</p>
<p>kjdhgfaldf</p>
</div>

<div id="contact" class="w3-content">
<p>kjdhgfaldf</p>
<p>kjdhgfaldf</p>
<!-- Image -->
<img src="img_la.jpg" alt="The Band" style="width:100%">

<!-- End Content -->
</div>

</body>
</html>
