{% extends "base.html" %}

{% block content %}
        <!-- Order -->
         <section class="page-section" id="order">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">My Orders</h2>
                        <hr class="divider" />
                        <p class="text-muted mb-5"></p>
                        {% if orders %}
                        {% for order in orders %}
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">{{order.ClientID.MainID.FirstName}} {{order.ClientID.MainID.LastName}}</h5>
                            {% comment %} <p class="card-text"> {{order.ServiceID.TypeID.Type}}</p> {% endcomment %}
                            <p class="card-text"> {{order.Timestamp}} </p>
                            <a href="delete_request" class="btn btn-primary">Delete</a>
                          </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p> There isn't anything here</p>
                        {% endif %}
                        
                    </div>
                    
                </div>


            </div>

        </section>
{% endblock %}
