{% extends "base.html" %}

{% block content %}
        <!-- Request -->
         <section class="page-section" id="request">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">My requests</h2>
                        <hr class="divider" />
                        <p class="text-muted mb-5"></p>
                        
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Contractor Name 1</h5>
                            <p class="card-text"> Service type</p>
                            <p class="card-text"> Request Time </p>
                            <a href="delete_request" class="btn btn-primary">Delete</a>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Contractor Name 2</h5>
                            <p class="card-text"> Service type</p>
                            <p class="card-text"> Request Time </p>
                            <a href="delete_request" class="btn btn-primary">Delete</a>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Contractor Name 3</h5>
                            <p class="card-text"> Service type</p>
                            <p class="card-text"> Request Time </p>
                            <a href="delete_request" class="btn btn-primary">Delete</a>
                          </div>
                        </div>
                        
                    </div>
                    
                </div>


            </div>

        </section>
{% endblock %}
