{% extends "base.html" %}

{% block content %}
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">Services</h2>
                        <hr class="divider" />
                        <p class="text-muted mb-5">List of available services</p>
                        {% if all_contractors %}
                        {% for contractor in all_contractors %}
                        <div class="card">
                        <div class="card-header">
                            Service {{ forloop.counter }}
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">{{contractor.MainID.FirstName}}  {{contractor.MainID.LastName}}</h5>
                            <p class="card-text"> {{ contractor.ServiceID.TypeID.Type }} </p>
                            <p class="card-text"> {{ contractor.ServiceID.Description }} </p>
                            <p class="card-text"> ${{ contractor.ServiceID.Rate }}/hour</p>
                            <a href="{%  url 'contractor' contractor.ContractorID %}" class="btn btn-primary">More info</a>
                          </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p> there isn't anything here and there never was and there never will be and that is that and nothing more</p>
                        {% endif %}
                    </div>
                    
                </div>


            </div>

        </section>
{% endblock %}